<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs160final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".transaction"></activity>
        <activity android:name=".list" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registeration" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TaskScreenActivity" />
        <activity android:name=".TasksOptionsActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".LearningScreenActivity" />
        <activity android:name=".LearningScreenActivity3Health1Exercise"/>
        <activity android:name=".TaskScreenActivity3Health1Exercise"/>
        <activity android:name=".TasksOptionsActivity3Health"/>
        <activity android:name=".TasksOptionsActivity2Social"/>
        <activity android:name=".TaskScreenActivity2Social1Hangout"/>
        <activity android:name=".LearningScreenActivity2Social1Hangout"/>
        <activity android:name=".TaskScreenActivity1Academic2Tutor"/>
        <activity android:name=".LearningScreenActivity1Academic2Tutor"/>
        <activity android:name=".LearningScreenActivity1Academic3Laptop"/>
        <activity android:name=".TaskScreenActivity1Academic3Laptop"/>
        <activity android:name=".TaskScreenActivity1Academic4Supplies"/>
        <activity android:name=".LearningScreenActivity1Academic4Supplies"/>
        <activity android:name=".TaskScreenActivity3Health2Examination"/>
        <activity android:name=".LearningScreenActivity3Health2Examination"/>
        <activity android:name=".TaskScreenActivity3Health3Weighing"/>
        <activity android:name=".LearningScreenActivity3Health3Weighing"/>
        <activity android:name=".TaskScreenActivity2Social2Dinner"/>
        <activity android:name=".LearningScreenActivity2Social2Dinner"/>
        <activity android:name=".TaskScreenActivity2Social3Party"/>
        <activity android:name=".LearningScreenActivity2Social3Party"/>
        <activity android:name=".TaskScreenActivity4Hobbies1Game"/>
        <activity android:name=".TasksOptionsActivity4Hobbies"/>
        <activity android:name=".LearningScreenActivity4Hobbies1Game"/>
        <activity android:name=".TaskScreenActivity4Hobbies2Video"/>
        <activity android:name=".LearningScreenActivity4Hobbies2Video"/>
        <activity android:name=".TaskScreenActivity4Hobbies3Concert"/>
        <activity android:name=".LearningScreenActivity4Hobbies3Concert"/>
    </application>

</manifest>